body {
    display: flex;
    background-image: url(Media/backgroundImage.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;	
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100vh;
    font-family: 'Product Sans', sans-serif;
}

#searchbar {
    border-radius: 16px;
    width: 400px;
    padding: 15px;
    border-width: 2px;
    border-style: outset;
    transition: transform 0.65s ease-in-out;
}

#searchbar:hover {
    transform: scale(105%)
}

#Searchbarcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#fastlinks {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.fa-brands.fa-discord {
    font-size: 30px;
    color: #4666dc;
    padding: 10px;
    transition: transform 0.35s ease-in-out;
    text-shadow: 
    -1px -1px 0 black, 
    1px -1px 0 black, 
    -1px  1px 0 black, 
    1px  1px 0 black;    
}
.fa-brands.fa-discord:hover {
    color: #2e54de;
    cursor: pointer;
    transform: scale(115%) rotate(-7deg);
}

.fa-brands.fa-youtube {
    font-size: 30px;
    color: #ff0000;
    padding: 10px;
    transition: transform 0.35s ease-in-out;
    text-shadow: 
    -1px -1px 0 black, 
    1px -1px 0 black, 
    -1px  1px 0 black, 
    1px  1px 0 black;  
}
.fa-brands.fa-youtube:hover {
    color: #ba0000;
    cursor: pointer;
    transform: scale(115%) rotate(-7deg);
}

.fa-solid.fa-graduation-cap {
    font-size: 30px;
    color: #00aeff;
    padding: 10px;
    transition: transform 0.35s ease-in-out;
    text-shadow: 
    -1px -1px 0 black, 
    1px -1px 0 black, 
    -1px  1px 0 black, 
    1px  1px 0 black;  
}
.fa-solid.fa-graduation-cap:hover {
    color: #0088c7;
    cursor: pointer;
    transform: scale(115%) rotate(-7deg);
}
.fa-solid.fa-envelope {
    font-size: 30px;
    color: #ececec;
    padding: 10px;
    transition: transform 0.35s ease-in-out;
    text-shadow: 
    -1px -1px 0 black, 
    1px -1px 0 black, 
    -1px  1px 0 black, 
    1px  1px 0 black; 
}
.fa-solid.fa-envelope:hover {
    color: #bdbdbd;
    cursor: pointer;
    transform: scale(115%) rotate(-7deg);
}
.fa-solid.fa-code {
    font-size: 30px;
    color:rgb(255, 235, 88);
    padding: 10px;
    transition: transform 0.35s ease-in-out;
    text-shadow: 
    -1px -1px 0 black, 
    1px -1px 0 black, 
    -1px  1px 0 black, 
    1px  1px 0 black; 
}
.fa-solid.fa-code:hover {
    cursor: pointer;
    color: rgb(213, 195, 62);
    transform: scale(115%) rotate(-7deg);
}
